.post-card-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-card-actions div {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.comments-info svg {
  margin-right: 5px;
}
