.error-button-contained {
  background-color: #f44336 !important;
  color: white !important;
}

.error-button-contained:hover {
  background-color: #ab2f26 !important;
  color: white !important;
}

.app {
  overflow: hidden;
  height: 100vh;
}
